


#Mapas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#MapaIzquierda {
    height: 75%;
    width: 100%;  
}

#MapaDerecha {
    height: 75%;
    width: 100%; 
}






